<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

<!--    <bean id="musicBeanClassic"-->
<!--          class="energy_glow.ClassicalMusic"-->
<!--    init-method="doMyInit"-->
<!--    destroy-method="doMyDestroy">-->
    <bean id="musicBeanClassic"
          class="energy_glow.ClassicalMusic">
    </bean>
    <bean id="musicBeanPop"
          class="energy_glow.PopMusic">
    </bean>
    <bean id="musicBeanRock"
          class="energy_glow.RockMusic">
    </bean>

    <bean id="musicList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="musicBeanClassic"/>
                <ref bean="musicBeanPop"/>
                <ref bean="musicBeanRock"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="musicPlayer"
        class="energy_glow.MusicPlayer"
          scope="prototype"
    init-method="OnInitialize"
    destroy-method="Dispose">
        <property name="musicList" ref="musicList"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

    <bean id="animal"
          class="energy_glow.Cat">
    </bean>

    <bean id="petOwner" class="energy_glow.Owner">
        <property name="animal" ref="animal"/>
        <property name="name" value="EnergyGlow"/>
    </bean>
</beans>